{% extends "base_page.html" %}

{% block page-title %}
Добавить породу для изучения
{% endblock %}

{% block page-lead %}
Перед нажатием кнопки &laquo;Отправить&raquo; убедитесь, что информация внесена корректно.
Обратите внимание, что поля <span class="fst-italic">Имя</span> и <span class="fst-italic">Email</span> являются обязательными для заполнения.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="breed-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные:</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;" 
                 name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;" 
                 name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-4">
        </div>
        <div class="row px-5 py-2">
            <h3>Порода, которую вы хотели бы добавить:</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_breed">Название породы:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;" 
                name="new_breed" id="new_breed">
            </div>
            <div class="col-md-8">
                <label for="new_description">Описание породы:</label>
                <textarea type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;" 
                 name="new_description" id="new_description" aria-describedby="description_note" rows="3"></textarea>
                <div id="description_note" class="form-text">Постарайтесь уложиться в два-три предложения</div>
            </div>
        </div>
        <div class="row px-5 py-3">
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-success" formaction="/send-breed">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
