{% extends "base_page.html" %}

{% block page-title %}
Тест
{% endblock %}

{% block page-lead %}
Обратите внимание, что поля <span class="fst-italic">Имя</span> и <span class="fst-italic">Email</span> являются обязательными для заполнения.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-testform">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные:</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;"
                 name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;"
                 name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-4">
        </div>
        <div class="row px-5 py-2">
            <h3>Вопрос №1</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-8">
                <label class="fw-bold">Описание породы:</label><br/>
                <td class="py-3 bg-info border border-2 border-success" style="--bs-bg-opacity: .01;">{{ quest_1 }}</td>
            </div>
            <div class="col-md-4">
                <label class="fw-bold">Название породы:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;" 
                name="answer_1" id="answer_1">
            </div>
        </div>
        <div class="row px-5 py-3">
        </div>
        <div class="row px-5 py-2">
            <h3>Вопрос №2</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-8">
                <label class="fw-bold">Описание породы:</label><br/>
                <td class="py-3">{{ quest_2 }}</td>
            </div>
            <div class="col-md-4">
                <label class="fw-bold">Название породы:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;"
                 name="answer_2" id="answer_2">
            </div>
        </div>
        <div class="row px-5 py-3">
        </div>
        <div class="row px-5 py-2">
            <h3>Вопрос №3</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-8">
                <label class="fw-bold">Описание породы:</label><br/>
                <td class="py-3">{{ quest_3 }}</td>
            </div>
            <div class="col-md-4">
                <label class="fw-bold">Название породы:</label>
                <input type="text" class="form-control input-lg bg-info border border-2 border-success" style="--bs-bg-opacity: .01;"
                 name="answer_3" id="answer_3">
            </div>
        </div>
        <div class="row px-5 py-3">
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-success" formaction="/send-test">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
